p{
    font-family: sans-serif;
    text-align: center;
}
.videos{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.backgroundImg {
    background-image: url('https://i.pinimg.com/736x/ab/6d/70/ab6d70aa684f8262313dff2897398949.jpg');
  }
.paragraphBox {
    background-color: aliceblue;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border: 10px solid black;
    border-radius:  20px;
}